<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
</head>
<body>
<center>
<br><br><br>
<b>Login</b>
<br><br><br>
<form action="/connection/" method="POST">
<br>
    <textarea 
            name="username" 
            rows="1" 
            cols="18"></textarea><br>
    <br>
    <p>Password:</p>
    <br>
    <textarea name="password" 
              rows="1" 
              cols="18"
              required style="-webkit-text-security: circle" 
              type="text" ></textarea><br>
    <input type="submit" value="Submit">
</form>

</center>

</body>
